/* Whole Sheet CSS */
@import url('https://fonts/goggleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none; /* no bullets on the list*/
}

a {
    color: #333;
    text-decoration: none; /* removes the underline on links */
}

h1 {
    font-weight: 500;
    line-height: 1.8;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0; /* Add margin back in because it is removed above */
}

img {
    width: 100%;
}
 /* Navigation */
.navbar {
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8; /* Slightly  see through */
    width: 100%;
    height: 70px;
    /* position: fixed; */
    top: 0px;
    padding: 0 30px;
    position: absolute;
    right: 0px; /* nav bar colour spans all of the width */
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #4682b4 2px solid; /* Underline when hovering over the list item */
}

.navbar ul {
    display: flex; /* Now we are horizontal */
}

.narbar .logo {
    font-weight: 400;
    /* font-weight: 300; */
    line-height: 1.5;
    font-size: 55px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.topnav-right {
    float: right;
  }
/* ---------------- */


.hero {
    background: url('../images/headshot.jpg') no-repeat center center/cover;
    background-size: 80%;
    height: 100vh; 
    position: relative;
    color: #fff;
    background-color: black;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    text-align: center;
    justify-content: center;
    height: 100%; /* this refers to the amount of the page the tesxt is centered on */
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
    color: black;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

/* This makes the background image a bit darker */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2); 
}

.hero * {
    z-index: 10;
}

/* ---------------- */

.icons { 
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #4682b4;
    color: #fff;
    padding: 1rem; /* Relative font size */
    border-radius: 50%; /* Circular */
    margin-bottom: 15px;
}

.text-blue {
    color: #4682b4;
}

.text-bold {
    font-weight: bold;
}


.text-white {
    color: whitesmoke
    ;
}
/* 
.text-secondary {
    color: #0284d0;
} */

/* Button */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #4682b4;
    border: none;
    border-radius: 5px; /* makes the edges curved */
}

.btn:hover {
    opacity: 0.7; /* Button dims when hovered over */
}

/* Colour templates */

.bg-primary, .btn-primary {
    color: #fff;
    background: #28a745;
}

.bg-secondary, .btn-secondary {
    color: #fff;
    background: #0284d0;
}

.bg-dark, .btn-dark {
    color: #fff;
    background: #333;
}

.bg-light, .btn-light {
    color: #333;
    background: #f4f4f4;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex Box Details */
/* This centralises all of the flex items in the container */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

/* Space between the flex items, not that > is the direct div child */
.flex-items > div {
    padding: 20px;
}

.flex-columns .row {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

.flex-columns.flex-reverse .row {
        flex-direction: row-reverse;
}

.flex-columns .column {
    display: flex;  
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; /* will take up the entire height */
}

.flex-columns .column .column-1 ,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This stops the image stretching weirdly */
}

.flex-columns .column-2 {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}
/* Flex grid -  made the images into a 2x4 table */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px ;
}

.cases img:hover {
    opacity: 0.7;
}

/* Section Headers - text in a column, in the center */
.section-header {
    display: flex;
    padding: 30px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

/* Section Headers - text in a column, in the left */

.section-header-left h1, h2 {
    display: flex;
    padding: 30px;
    flex-direction: column; 
    /* align-items: left; */
    justify-content: left;
    text-align: left;
}

.section-header-left h1 {
    font-size: 40px;
    margin: 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

.team img {
    border-radius: 50%;
}

/* Call back form */
.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #4682b4;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
    padding: 10px;
}

.footer a:hover {
    color: #4682b4;
}

.footer .social {
    margin-right: 30px;
}
