/* Whole Sheet CSS */
@import url('https://fonts/goggleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none; /* no bullets on the list*/
}

a {
    color: #333;
    text-decoration: none; /* removes the underline on links */
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0; /* Add margin back in because it is removed above */
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8; /* Slightly  see through */
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid; /* Underline when hovering over the list item */
}

.navbar ul {
    display: flex; /* Now we are horizontal */
}

.narbar .logo {
    font-weight: 400;
}

.hero {
    background: url('../images/showcase.jpg') no-repeat center center/cover;
    height: 100vh; 
    position: relative;
    color: #fff;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

/* This makes the background image a bit darker */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2); 
}

.hero * {
    z-index: 10;
}

.icons { 
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem; /* Relative font size */
    border-radius: 50%;
    margin-bottom: 15;
}