/* Whole Sheet CSS */
@import url('https://fonts/goggleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none; /* no bullets on the list*/
}

a {
    color: #333;
    text-decoration: none; /* removes the underline on links */
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0; /* Add margin back in because it is removed above */
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8; /* Slightly  see through */
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid; /* Underline when hovering over the list item */
}

.navbar ul {
    display: flex; /* Now we are horizontal */
}

.narbar .logo {
    font-weight: 400;
}

.hero {
    background: url('../images/showcase.jpg') no-repeat center center/cover;
    height: 100vh; 
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    text-align: center;
    justify-content: center;
    height: 100%; /* this refers to the amount of the page the tesxt is centered on */
    padding: 0 20px;
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

/* This makes the background image a bit darker */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2); 
}

.hero * {
    z-index: 10;
}

.icons { 
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem; /* Relative font size */
    border-radius: 50%; /* Circular */
    margin-bottom: 15px;
}

.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/* Button */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px; /* makes the edges curved */
}

.btn:hover {
    opacity: 0.7; /* Button dims when hovered over */
}

/* Colour templates */

.bg-primary, .btn-primary {
    color: #fff;
    background: #28a745;
}

.bg-secondary, .btn-secondary {
    color: #fff;
    background: #0284d0;
}

.bg-dark, .btn-dark {
    color: #fff;
    background: #333;
}

.bg-light, .btn-light {
    color: #333;
    background: #fff;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}

/* Flex Box Details */
/* This centralises all of the flex items in the container */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

/* Space between the flex items, not that > is the direct div child */
.flex-items > div {
    padding: 20px;
}

.flex-columns .row {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%
}

.flex-columns .column {
    display: flex;  
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; /* will take up the entire height */
}

.flex-columns .column .column-1 ,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This stops the image stretching weirdly */
}

.flex-columns .column-2 {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}
/* Section Headers - text in a column, in the center */
.section-header {
    display: flex;
    padding: 30px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid -  made the images into a 2x4 table */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0;
}